<template>
  <v-container>
    <v-row class="dashboard-header">
      <v-col cols="12">
        <h1>Dashboard</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="6">
        <v-card class="info-card">
          <v-card-title>Nombre de fichiers convertis</v-card-title>
          <v-card-subtitle>{{ filesConverted[`${isShowAllFiles ? 'all' : 'today'}`] }}</v-card-subtitle>
          <v-card-actions>
            <v-btn @click="handleChangeShowAllFiles">{{ isShowAllFiles ? 'Depuis le début' : "Aujourd'hui" }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="12" md="6">
        <v-card class="info-card">
          <v-card-title>Nombre de fichiers convertis en stockage</v-card-title>
          <v-card-subtitle
            >{{
              bytesToGigabytes(storageConverted[`${isShowAllStorage ? 'all' : 'today'}`]).toFixed(2)
            }}
            Go</v-card-subtitle
          >
          <v-card-actions>
            <v-btn @click="handleChangeShowAllStorage">{{
              isShowAllStorage ? 'Depuis le début' : "Aujourd'hui"
            }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card class="upload-card">
          <v-card-title>Convertisseur de fichiers</v-card-title>
          <v-card-text>
            <form @submit.prevent="convertFile">
              <v-file-input
                label="Téléchargez vos fichiers"
                @change="handleFileUpload($event.target.files)"
                v-model="uploadedFile"
              />
              <v-select
                v-if="uploadedFile"
                :items="availableExtensions"
                v-model="selectedExtension"
                label="Sélectionnez une extension de conversion"
              />
              <v-card-actions>
                <v-btn color="primary" type="submit" :disabled="!uploadedFile || !selectedExtension">Convertir</v-btn>
                <v-btn color="secondary" @click="downloadFile(convertedFile!)" :disabled="!convertedFile"
                  >Télécharger</v-btn
                >
                <v-btn color="secondary" @click="shareFile(convertedFile!)" :disabled="!convertedFile">Partager</v-btn>
              </v-card-actions>
            </form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts" setup>
import dayjs from 'dayjs';
import { useFileUpload } from '@/composables/useFileUpload';
import { downloadFile, bytesToGigabytes, shareFile } from '@/utils/files';

const runtimeConfig = useRuntimeConfig();
const { convertFile, uploadedFile, selectedExtension, handleFileUpload, availableExtensions, convertedFile } =
  useFileUpload();

const filesConverted = ref({
  all: 0,
  today: 0
});
const storageConverted = ref({
  all: 0,
  today: 0
});

const isShowAllFiles = ref(false);
const isShowAllStorage = ref(false);

onMounted(async () => {
  const statistics = await (await fetch(`${runtimeConfig.public.apiUrl}/conversion_statistics`)).json();
  filesConverted.value = {
    all: statistics.length,
    today: statistics.filter((stat: any) => dayjs(stat.created_at).isSame(dayjs(), 'day')).length
  };
  storageConverted.value = {
    all: statistics.reduce((acc: number, stat: any) => acc + stat.file_size, 0),
    today: statistics
      .filter((stat: any) => dayjs(stat.created_at).isSame(dayjs(), 'day'))
      .reduce((acc: number, stat: any) => acc + stat.file_size, 0)
  };
});

const handleChangeShowAllFiles = () => (isShowAllFiles.value = !isShowAllFiles.value);
const handleChangeShowAllStorage = () => (isShowAllStorage.value = !isShowAllStorage.value);
</script>

<style scoped>
.dashboard-header {
  margin-bottom: 20px;
}
.info-card,
.upload-card {
  margin-bottom: 20px;
  background-color: #fff;
}
</style>
