<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <h1>Historique des conversions</h1>
        <v-tabs v-model="tab">
          <v-tab value="map">Carte</v-tab>
          <v-tab value="table">Tableau</v-tab>
        </v-tabs>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-tabs-window v-model="tab">
          <v-tabs-window-item value="table">
            <v-data-table-virtual :headers="headers" :items="conversions" height="500">
              <template v-slot:item.date="{ item }">
                {{ dayjs(item.date).format('DD/MM/YYYY HH:mm') }}
              </template>
              <template v-slot:item.actions="{ item }">
                <v-btn icon @click="downloadFile(item.blob)" disabled>
                  <v-icon>mdi-download</v-icon>
                </v-btn>
                <v-btn icon disabled>
                  <v-icon>mdi-share</v-icon>
                </v-btn>
                <v-btn icon @click="remove(item.id)">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </template>
            </v-data-table-virtual>
          </v-tabs-window-item>
          <v-tabs-window-item value="map">
            <Map :markers="markers" v-if="markers.length > 0" />
            <p v-else>Aucun fichier avec des coordonnées trouvé</p>
          </v-tabs-window-item>
        </v-tabs-window>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import { useHistoryStore } from '@/stores/history';
import { downloadFile } from '@/utils/files';
import dayjs from 'dayjs';

const historyStore = useHistoryStore();

const tab = ref('map');

const headers = [
  { title: 'Date', key: 'date' },
  { title: 'Nom', key: 'name' },
  { title: 'Extension de base', key: 'baseExtension' },
  { title: 'Extension exporté', key: 'exportExtension' },
  { title: 'Actions', key: 'actions', sortable: false }
];

const conversions = computed(() => historyStore.conversions);

const markers = computed(() =>
  conversions.value
    .filter((c) => c.location.lat && c.location.lng)
    .map((conversion) => ({
      lat: conversion.location.lat!,
      lng: conversion.location.lng!,
      popupContent: conversion.name
    }))
);

const remove = (id: string) => historyStore.removeConversion(id);
</script>

<style scoped></style>
