<template>
  <div id="map"></div>
</template>

<script lang="ts">
// @ts-ignore
import L from 'leaflet';
import 'leaflet/dist/leaflet.css';
import 'leaflet.markercluster/dist/MarkerCluster.css';
import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
import 'leaflet.markercluster';

interface Marker {
  lat: number;
  lng: number;
  popupContent: string | HTMLElement;
}

export default defineComponent({
  props: {
    markers: {
      type: Array as PropType<Marker[]>,
      required: true
    }
  },
  mounted() {
    const map = L.map('map').setView([0, 0], 2);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);

    const markers = L.markerClusterGroup();
    this.markers.forEach((marker: Marker) => {
      const leafletMarker = L.marker([marker.lat, marker.lng]);
      marker.popupContent && leafletMarker.bindPopup(marker.popupContent);
      markers.addLayer(leafletMarker);
    });

    map.addLayer(markers);
    map.fitBounds(markers.getBounds());
  }
});
</script>

<style scoped>
#map {
  height: 500px;
  width: 100%;
}
</style>
