<script>
export default {
  data: () => ({
    items: [
      { title: 'Tableau de bord', icon: 'mdi-view-dashboard', to: '/' },
      { title: 'Historique', icon: 'mdi-history', to: '/history' },
      { title: 'Parametres', icon: 'mdi-cog', to: '/settings' }
    ]
  })
};
</script>

<template>
  <v-navigation-drawer expand-on-hover rail>
    <v-list density="compact" nav>
      <v-list-item
        v-for="item in items"
        :key="item.title"
        :to="item.to"
        :prepend-icon="item.icon"
        :title="item.title"
      />
    </v-list>
  </v-navigation-drawer>
</template>
