<template>
  <v-app>
    <NavDrawer />
    <v-main id="content">
      <NuxtPage />
    </v-main>
  </v-app>
</template>

<style>
html,
body,
#__nuxt {
  height: 100%;
  margin: 0;
}

#content {
  margin: 16px;
}
</style>
